.home_wrapper{
  height: 100vh;
  overflow-y: auto;
}
.home-header-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .time{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .day {
      width: 100%;
      font-weight: 900;
      font-size: 20px;
      text-align: center;
    }
    .month {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
  }
  .title{
    flex: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 800;
  }
  .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
  }
}
// home-list-wrapper-------start
.home-list-wrapper {
  padding: 10px 20px;
  .home-list-info{
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .info-left{
      display: flex;
      width: 300px;
      flex-direction: column;
      .title{
        font-weight: 900;
        font-size: 22px;
        /*1. 超出的部分隐藏 */
        overflow: hidden;
        /*2. 文字用省略号替代超出的部分 */
        text-overflow: ellipsis;
        /* 3. 弹性伸缩盒子模型显示 */
        display: -webkit-box;
        /* 4. 限制在一个块元素显示的文本的行数 */
        -webkit-line-clamp: 2;
        /* 5. 设置或检索伸缩盒对象的子元素的排列方式 */
        -webkit-box-orient: vertical;
      }
      .message{
        padding-top: 10px;
        color: #868585;
        font-size: 14px;
      }
    }
    .info-right {

    }
  }
  .adm-divider-horizontal::before {
    max-width: 0!important;
  }
}
// home-list-wrapper------end



// news-list-skeleton-------------------------start
.news-list-skeleton{
  padding: 10px 20px;
}
// news-list-skeleton-------------------------end
